body {
	zoom:90%;
	display:block;
	min-width:998px;
  	height:100%;
	font-family: "Segoe UI",Arial,sans-serif;
	background-color:#fff;
	margin:0;
	box-sizing:inherit;
}
.without-sidebar{
	display:block;
	margin-left: 200px;
}
.header {
	display:block;
	position:fixed;
	top:0;
	width:100%;
	margin-left:-200px;
	background-color:#282A35;
	text-align:center;
}
.logo {
	height:40px;
	width:40px;
}
.header-buttons {
	color:#f1f1f1;
	font-family: "Segoe UI",Arial,sans-serif;
	text-transform: uppercase;
	font-size:25px;
	display: flex;
  	align-items: baseline;
  	justify-content: space-between;
	margin:auto;
	text-decoration:none;
	text-align: center;
}
.overlay {
	width:100%;
	height:40px;
	display:flex;
}
.footer {
	display:block;
	background-color:#282A35;
	height:100px;
	margin-top:15px;
}
.contacts {
	text-align:center;
	color:#f1f1f1;
	font-family: "Segoe UI",Arial,sans-serif;
	font-size:25px;
	padding:25px;
	margin:auto;
	text-decoration:none;
}
.sidebar {
	display:block;
	position:fixed;
	top:0;
	z-index:1;
	overflow-y:scroll;
	overflow-x:hidden;
	width:200px;
	height:100%;
	margin-top:40px;
	padding-left:10px;
	background-color:#E7E9EB;
}
.sidebar-heading{
	font-family: "Segoe UI",Arial,sans-serif;
	font-size:18px;
	text-align:left;
	font-weight:400;
	margin:auto;
	text-decoration:none;
}
.sidebar-item {
	display:inline-block;
	width:100%;
	font-family: "Segoe UI",Arial,sans-serif;
	font-size:15px;
	color:#000000;
	text-align:left;
	font-weight:400;
	text-decoration:none;
	padding-bottom:2px;
	cursor:pointer;
}
.sidebar-item:hover {
	display:inline-block;
	width:100%;
	background-color:#fff;
	font-family: "Segoe UI",Arial,sans-serif;
	font-size:15px;
	color:#000000;
	text-align:left;
	font-weight:400;
	text-decoration:none;
	padding-bottom:2px;
	cursor:pointer;
}
.active {
	display:inline-block;
	width:100%;
	background-color:#04AA6D;
	font-family: "Segoe UI",Arial,sans-serif;
	font-size:15px;
	color:#ffffff;
	text-align:left;
	font-weight:400;
	text-decoration:none;
	padding-bottom:2px;
	cursor:pointer;
}
.right-column {
	display:block;
	position:relative;
	float:right;
	top:0;
	right:0;
	width:250px;
	height:100%;
	margin-top:40px;
	background-color:#fff;
	cursor:pointer;
}
.vl {
	display:block;
	position:fixed;
	top:0;
	border-right:1px solid;
    height:100%;
    margin-right:250px;
	opacity:.1;
}
.sublime {
	box-sizing:border-box;
	position:relative;
	margin-left:10px;
	margin-top:400px;
	width:230px;
}
.github {
	box-sizing:border-box;
	position:relative;
	margin-left:10px;
	margin-top:50px;
	width:230px;
}
.browsersync {
	box-sizing:border-box;
	position:relative;
	margin-left:10px;
	margin-top:50px;
	width:230px;
}
.nodejs {
	box-sizing:border-box;
	position:relative;
	margin-left:10px;
	margin-top:50px;
	width:230px;
}
.html-reference {
	margin-left:20px;
}
.table {
	margin-right:250px;
}
.reference-table {
	width:100%;
	border-radius:10px;
	border-spacing:15px;
}
.td {
	color:#000000;
	background-color:#E7E9EB;
	border-radius:10px;
	height:50px;
	text-align:center;
}
.td:hover {
	color:#ffffff;
	background-color:#000000;
	border-radius:10px;
	height:50px;
	text-align:center;
}
.td:active {
	color:#ffffff;
	background-color:#000000;
	border-radius:10px;
	height:50px;
	text-align:center;
}
.table-cells {
	text-decoration:none;
	color:inherit;
	display:block;
	height:100%;
	width:100%;
	padding-top:25px;
}

.h1 {
	font-family:"Segoe UI",Arial,sans-serif;
	font-size:40px;
	font-weight:400;
	padding-left:40px;
	margin-top:100px;
}
.nav-button {
	margin-left:40px;
	margin-right:270px;
	margin-bottom:30px;
	font-size:18px;
}
.back {
	display:inline-block;
	color:#ffffff;
	background-color:#04AA6D;
	padding:10px;
	text-decoration:none;
	border-radius:5px;
}
.back:hover {
	display:inline-block;
	color:#ffffff;
	background-color:#4CAF50;
	padding:10px;
	text-decoration:none;
	border-radius:5px;
}
.back:active {
	display:inline-block;
	color:#ffffff;
	background-color:#04AA6D;
	padding:10px;
	text-decoration:none;
	border-radius:5px;
}
.forward {
	display:inline-block;
	color:#ffffff;
	background-color:#04AA6D;
	padding:10px;
	text-decoration:none;
	border-radius:5px;
	float:right;
}
.forward:hover {
	display:inline-block;
	color:#ffffff;
	background-color:#4CAF50;
	padding:10px;
	text-decoration:none;
	border-radius:5px;
	float:right;
}
.forward:active {
	display:inline-block;
	color:#ffffff;
	background-color:#04AA6D;
	padding:10px;
	text-decoration:none;
	border-radius:5px;
	float:right;
}
.after-nav-buttons{
	margin-right:250px;
	background-color:#D9EEE1;
	padding-top:20px;
	padding-bottom:20px;
}
.standart-paragraph {
	font-family:"Segoe UI",Arial,sans-serif;
	font-size:15px;
	font-weight:400;
	padding-left:20px;
	margin-right:270px;
}
.free-tutorials {
	margin-right:250px;
	background-color:#D9EEE1;
	padding-left:20px;
	padding-bottom:20px;
	font-family:"Segoe UI",Arial,sans-serif;
	font-weight:400;
}
.study-our-free-html-tutorial {
	margin-right:250px;
	background-color:#04AA6D;
	color:#ffffff;
	font-size:18px;
	display:inline-block;
	margin-bottom:15px;
	padding:10px;
	text-decoration:none;
	border-radius:5px;
}
.study-our-free-html-tutorial:hover {
	display:inline-block;
	color:#ffffff;
	font-size:18px;
	background-color:#4CAF50;
	padding:10px;
	text-decoration:none;
	border-radius:5px;
}
.study-our-free-html-tutorial:active {
	display:inline-block;
	color:#ffffff;
	font-size:18px;
	background-color:#04AA6D;
	padding:10px;
	text-decoration:none;
	border-radius:5px;
}
.watch-our-video-tutorial {
	background-color:#282A35;
	color:#ffffff;
	font-size:18px;
	display:inline-block;
	padding:10px;
	text-decoration:none;
	border-radius:5px;
}
.watch-our-video-tutorial:hover {
	background-color:#000000;
	color:#ffffff;
	font-size:18px;
	display:inline-block;
	padding:10px;
	text-decoration:none;
	border-radius:5px;
}
.watch-our-video-tutorial:active {
	background-color:#000000;
	color:#ffffff;
	font-size:18px;
	display:inline-block;
	padding:10px;
	text-decoration:none;
	border-radius:5px;
}
hr {
	opacity:.3;
	margin-left:20px;
	margin-right:270px;
}
.easy-learning {
	margin-left:20px;
}
.grey-frame-redactor {
	background-color:#E7E9EB;
	border-radius:20px;
	margin-left:20px;
	margin-right:270px;
	margin-top:30px;
	margin-bottom:30px;
	padding-top:5px;
	padding-bottom:30px;
	padding-right:20px;
	padding-left:20px;
}
.code-redactor {
	background-color:#ffffff;
	padding:10px;
	border-left:5px solid #04AA6D;
}
.example {
	font-family:"Segoe UI",Arial,sans-serif;
	font-size:25px;
	font-weight:400;
}
.tagcolor {
	color:blue;
}
.browncolor {
	color:brown;
}
.htmlcolor {
	color:red;
}
.try-it-yourself-button {
	background-color:#04AA6D;
	color:#ffffff;
	font-size:18px;
	display:inline-block;
	margin-bottom:15px;
	padding:10px;
	text-decoration:none;
	border-radius:5px;
}
.try-it-yourself-button:hover {
	display:inline-block;
	color:#ffffff;
	font-size:18px;
	background-color:#4CAF50;
	padding:10px;
	text-decoration:none;
	border-radius:5px;
}
.try-it-yourself-button:active {
	display:inline-block;
	color:#ffffff;
	font-size:18px;
	background-color:#04AA6D;
	padding:10px;
	text-decoration:none;
	border-radius:5px;
}
.try-it-yourself-hint {
	margin-left:20px;
	padding-left:20px;
	font-weight:bold;
}
.html-examples {
	margin-left:20px;
}
.h2 {
	font-family:"Segoe UI",Arial,sans-serif;
	font-size:30px;
	font-weight:400;
	padding-left:20px;
}
.go-to-html-examples {
	background-color:#808080;
	color:#ffffff;
	font-size:18px;
	display:inline-block;
	margin-bottom:15px;
	margin-left:20px;
	padding:10px;
	text-decoration:none;
	border-radius:5px;
}
.go-to-html-examples:hover {
	background-color:#04AA6D;
	color:#ffffff;
	font-size:18px;
	display:inline-block;
	margin-bottom:15px;
	margin-left:20px;
	padding:10px;
	text-decoration:none;
	border-radius:5px;
}
.go-to-html-examples:active {
	background-color:#04AA6D;
	color:#ffffff;
	font-size:18px;
	display:inline-block;
	margin-bottom:15px;
	margin-left:20px;
	padding:10px;
	text-decoration:none;
	border-radius:5px;
}
.html-exercises {
	margin-left:20px;
}
.exercises-black-frame {
	background-color:#000000;
	border-radius:20px;
	margin-left:20px;
	margin-right:270px;
	margin-top:30px;
	margin-bottom:30px;
	padding-top:5px;
	padding-bottom:30px;
	padding-right:20px;
	padding-left:20px;
}
.exercise-heading {
	font-family:"Segoe UI",Arial,sans-serif;
	font-size:25px;
	font-weight:400;
	color:#ffffff;
}
.header-inner-block {
	font-family:"Segoe UI",Arial,sans-serif;
	font-size:25px;
	font-weight:400;
	color:#000000;
}
.exercises-inner-block {
	background-color:#ffffff;
	padding:10px;
}
.exercises-inner-frame {
	background-color:#E7E9EB;
	padding:20px;
	vertical-align:center;
}
.form-input {
	width:54px;
	font-size:18px;
}
.submit-answer-button {
	background-color:#04AA6D;
	color:#ffffff;
	font-size:18px;
	display:inline-block;
	margin-bottom:15px;
	padding:10px;
	text-decoration:none;
	border-radius:5px;
	cursor:pointer;
}
.submit-answer-button:hover {
	display:inline-block;
	color:#ffffff;
	font-size:18px;
	background-color:#4CAF50;
	padding:10px;
	text-decoration:none;
	border-radius:5px;
	cursor:pointer;
}
.submit-answer-button:active {
	display:inline-block;
	color:#ffffff;
	font-size:18px;
	background-color:#04AA6D;
	padding:10px;
	text-decoration:none;
	border-radius:5px;
	cursor:pointer;
}
.start-exercise {
	color:#000000;
}
.start-exercise:hover {
	color:#04AA6D;
}
.start-exercise:active {
	color:#04AA6D;
}
.html-quiz {
	margin-left:20px;
}
.start-html-quiz {
	background-color:#2196F3;
	color:#ffffff;
	font-size:18px;
	display:inline-block;
	margin-bottom:15px;
	margin-left:20px;
	padding:10px;
	text-decoration:none;
	border-radius:5px;
}
.start-html-quiz:hover {
	background-color:#0000ff;
	color:#ffffff;
	font-size:18px;
	display:inline-block;
	margin-bottom:15px;
	margin-left:20px;
	padding:10px;
	text-decoration:none;
	border-radius:5px;
}
.start-html-quiz:active {
	background-color:#0000ff;
	color:#ffffff;
	font-size:18px;
	display:inline-block;
	margin-bottom:15px;
	margin-left:20px;
	padding:10px;
	text-decoration:none;
	border-radius:5px;
}